body {
    font-family: Arial, sans-serif;
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  header, footer, .header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  
  .movie-item, .movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
  }
  
  .movie-item:hover, .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-item img, .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-title, .movie-card h2 {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
  }
  
  .movie-description, .movie-card p {
    font-size: 0.9rem;
    margin: 10px;
    color: #666;
    text-align: justify;
  }
  
  .movie-card p {
    font-size: 1rem;
  }
  
  
  .reserve-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .reserve-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }